html body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 200, 200);
    font-family: "Open Sans"
}

.linha{
    display: flex;
    margin: 0px 0px 0px 0px;

}

.calculadora{
    width: 310px;
    background-color:rgb(99, 99, 99);
    border-radius: 5px;
    margin: 30% 0px 0px 0px;
}

button {
    width: 74px;
    height: 74px;
    border: none;
    margin: 2px;
    border-radius: 5px;
    background-color: rgb(181, 181, 181);
    font-size: 22px;
}


.operador {
    background-color: rgb(243, 201, 49);
}

button:hover{
    background-color:rgb(122, 122, 122) ;
}

operador:hover{
    background-color: rgb(248, 194, 0);
}

.igual{
    background-color: rgb(191, 0, 0);
}

.igual:hover{
    background-color:red ;

}

.display{
    display: flex;
    background-color: rgb(5, 5, 5);
    height: 80px;
    justify-content: end;
    align-items: center;
    color: aliceblue;
    margin-bottom: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: 30px;
}

button:active{
    transform: translateY(1.5px)
}